{% extends "../base.html" %}
{% block title %}Store - Low Prices in Books & more{% endblock %}
{% block content %}


<div class="container">
  <div class="row">
    <div class="album">
      <div class="pb-3">
        <h1 class="h3">Popular</h1>
      </div>
      {% if not products %}
      <div class="col-12">
        <p>There are currently no products available</p>
      </div>
      {% else %}
      <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-3">
        {% for product in products %}
        <div class="col">
          <div class="card border-0">
            <a href="{{ product.get_absolute_url }}">
              <img class="img-fluid" alt="Responsive image"
                src="{{ product.image.url }}">
            </a>
            <div class="card-body px-0">
              <p class="card-text">
                <a class="text-dark text-decoration-none"
                  href="{{ product.get_absolute_url }}">
                  {{ product.title|slice:":50" }}...</a>
              </p>
              <div class="fw-bold">
                £{{product.price}}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
