{% extends "../sub_base.html" %}
{% block title %}
Reset Password Result
{% endblock %}
{% block sub_content %}

<div class="col-12 col-lg-6  mx-auto">
  <div class="">
    {% if 'email' in request.get_full_path %}
    <h3 class="mb-4">Password Reset Success</h3>
    <p>Check your email for instructions</p>
    {% endif%}
    {% if 'complete' in request.get_full_path %}
    <h3 class="mb-4">Password Reset Success</h3>
    <a href="{% url 'account:login' %}">Login</a>
    {% endif%}
  </div>
</div>

{% endblock %}
